# Virtual environment
.venv/
venv/
ENV/
env/

# Environment variables
.env
backend/.env

# Python cache
__pycache__/
*.py[cod]
*$py.class


# IDE files
.vscode/
.idea/
.gemini/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
